<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h2>スケジュール登録</h2>
	<form th:action="@{/insertSchedule/insert}" method="post" th:object="${insertScheduleForm}">
		<div th:errors="*{title}" style="color: red;"></div>
		タイトル:<input type="text" th:field="*{title}"><br>
		内容 :<textarea name="description" id="content" cols="30" rows="10">スケジュール内容</textarea><br>
		分類 : <select name="kinds" id="kinds">
			<option value="">分類を選択してください</option>
			<option value="仕事">仕事</option>
			<option value="プライベート">プライベート</option>
			<option value="その他">その他</option>
		</select><br>
		終日 : <input type="checkbox"><br>
		<div th:errors="*{startDate}" style="color: red;"></div>
		<div th:errors="*{startTime}" style="color: red;"></div>
		開始 : <input type="date" th:field="*{startDate}"> <input type="time" th:field="*{startTime}"><br>
		<div th:errors="*{endDate}" style="color: red;"></div>
		<div th:errors="*{endTime}" style="color: red;"></div>
		<div th:text="${dateErrorMessage}" style="color: red;"></div>
		終了 : <input type="date" th:field="*{endDate}"> <input type="time" th:field="*{endTime}"><br>
		参加者 : <input type="text" id="memberMail" name="memberMail">
		<select name="member" id="member">
			<option value="">参加者を選択してください</option>
		</select>
		<br>

		<button type="submit">登録</button>
		<button type="reset">クリア</button>






	</form>
</body>

</html>