<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>スケジュール管理アプリ/ログイン</title>
	
</head>

<body>

	<header>
		<div class="infomation">
			<span>ログイン</span>
			<span>ログアウト</span>
			<span>予定登録</span>
		</div>
	</header>
	<h2>ログイン</h2>
	<form th:action="@{/login/complete}" method="post">
		<div th:text="${errorLogin}" style="color: red;"></div>
		メールアドレス：<input type="text" name="mail" id="mail"><br>
		パスワード： <input type="password" name="password" id="password"><br>
		<button type="submit">ログイン</button>


	</form>
	<a th:href="@{/register}">ユーザー登録はこちら</a>
</body>

</html>