<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="calender.css">
  </head>

  <body>

    <header>
      <div class="infomation">
        <span>ログイン</span>
        <span>ログアウト</span>
        <span>予定登録</span>
      </div>
    </header>
<h2>ログイン</h2>
    <form action="" method="post">
      メールアドレス：<input type="text" name="mailaddress" id="mailaddress"><br>
      パスワード： <input type="password" name="password" id="password"><br>
      <button type="submit">ログイン</button>


    </form>
    <a href="register.html">ユーザー登録はこちら</a>
</body>
</html>