<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
  <div id="mypage">
    <h4>マイページ</h4>
    <ol>
      <li><img  id ="user_icon" th:src="@{/img/}+${session.user.iconImagePath}" alt="アイコン画像"></li>
      <li>ユーザー名: <span th:text="${session.user.name}">test</span></li>
      <li>郵便番号: <span th:text="${session.user.zipcode}">1111111</span></li>
      <li>メールアドレス: <span th:text="${session.user.mail}">test@co.jp</span></li>
    </ol>

    <button type="submit" id="change_button">変更する</button>
  </div>
  <div id="update_mypage">
    <h4>マイページ編集</h4>
    アイコン画像:<input type="image" src="" alt="" id="update_icon"><br>
    ユーザー名: <input type="text" name="" id="update_name"><br>
    郵便番号: <input type="text" name="update_zipcode"><br>
    メールアドレス: <input type="text" name="" id="update_mail"><br>
    パスワード: <input type="password" name="" id="update_password"><br>
    <div id="confirmation_password">
      確認用パスワード: <input type="password" id="update_confirmation_password">
    </div>
    <button type="submit">更新する</button>
  </div>
</body>
</html>