<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

 <h2>ユーザー登録</h2>
  <form action="" method="post">
    ユーザー名: <input type="text" id="user-name"><br>
    メールアドレス: <input type="text" id="user-mail"><br>
    パスワード: <input type="password" id="user-password"><br>
    確認用パスワード: <input type="password" id="sub-password"><br>
    郵便番号: <input type="text" class="zippcode"><br>
    アイコン画像: <input type="file"  id="icon_image_path"><br>
    通知: <input type="radio" name="mailsender" id="mailsender" checked>受け取る
    <input type="radio" name="mailsender" id="">受け取らない<br>
    <button>登録</button>

  </form>

  
</body>
</html>